/* Styles for the container holding the content section */
.custom-content-container {
  padding: 20px;
  background-color: #ffffff;
  border: 2px solid #000000;
  border-radius: 8px;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 80px;
  margin-bottom: 40px;
}

/* Style for the heading */
.custom-content-heading {
  background-color: #1f2937;
  color: white;
  padding: 10px 20px;
  border-radius: 50px;
  text-align: center;
  margin: 0 auto 36px auto;
  font-size: 26.4px;
  font-weight: bold;
}

/* Style for the wrapper containing feature items */
.custom-content-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

/* Features section styling */
.custom-features-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
}

.custom-feature-item {
  background: #1f2937;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  flex: 1;
  min-width: 250px;
  text-align: center;
}

.custom-feature-icon {
  margin-bottom: 10px;
}

.custom-icon-svg {
  width: 40px;
  height: 40px;
  color: #ffffff;
}

.custom-feature-heading {
  font-size: 19.8px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 10px;
}

.custom-feature-text {
  font-size: 20px;
  color: #ffffff;
}

/* Steps section styling */
.custom-steps-heading {
  text-align: center;
  margin: 48px 0 24px;
  font-size: 24.2px;
  font-weight: bold;
  background-color: #1f2937;
  color: white;
  padding: 10px 20px;
  border-radius: 50px;
}

.custom-steps-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
}

.custom-step-item {
  background: #1f2937;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  flex: 1;
  min-width: 200px;
  text-align: center;
  cursor: pointer;
}

.custom-step-heading {
  font-size: 17.6px;
  font-weight: bold;
  color: #ffffff;
  margin: 10px 0;
}

.custom-step-text {
  font-size: 20px;
  color: #ffffff;
  overflow: hidden;
  max-height: 0; /* Hidden by default */
  opacity: 0;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out; /* Transition effect */
}

/* Show step text when step is active */
.custom-step-item.active .custom-step-text {
  max-height: 100px; /* Adjust based on content height */
  opacity: 1;
  padding-top: 10px; /* Optional: space between heading and text */
}

/* Get Started button styles */
.custom-get-started-container {
  text-align: center;
  margin-top: 40px;
}

.custom-get-started-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: #008080;
  border-radius: 8px;
  text-decoration: none;
}

.custom-get-started-button:hover {
  background-color: #005f5f;
}
