
/* Feature section styles */

.feature-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  max-width: 960px;
  margin: 0 auto;
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 60px;
  margin-bottom: 60px;
  height: 85%;
  border: 2px solid #ddd; /* Added border around the feature section */
}


/* Section heading styles */

.section-heading {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 40px;
  border: 2px solid #1f2937; /* Light gray border */ 
  background-color: #1f2937;
  border-radius: 9999px;
  text-align: center;
  color: #ffffff;
}

/* Features container styles */

.features-container {
  display: flex;
  width: 100%;
  border: 2px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  background-color: #ffffff;
}

/* Headings container styles */

.features-headings {
  width: 30%;
  background-color: #1f2937;
  border-right: 2px solid #ddd;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
}

/* Individual feature heading styles */

.feature-heading {
  display: flex;
  align-items: center;
  padding: 20px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
  font-size: 26px;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
  color: #ffffff;
}

.feature-heading:hover {
  background-color: #e0e0e0;
  color: #007bff;
}

.feature-heading.active {
  background-color: #d0d0d0;
  color: #007bff;
}

.feature-icon {
  margin-right: 20px;
  font-size: 48px;
}

/* Details container styles */

.features-details {
background-color: #1f2937;
  width: 70%;
  padding: 20px;
  box-sizing: border-box;
}

/* Individual feature detail styles */

.feature-detail {
  display: none;
}

.feature-detail.active {
  display: block;
}

.feature-detail h3 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #ffffff;
}

.feature-detail p {
    color: #ffffff;
  font-size: 26px;
  margin-bottom: 20px;
}

/* Individual feature detail styles */

.feature-detail ul {
  list-style-type: disc; /* Adds bullet points */
  
  padding-left: 20px; /* Indents the bullets */
  
  margin-top: 10px; /* Adds some spacing above the list */
  
  color: #ffffff; /* Ensures the bullet list matches the overall text color */
  
}


.feature-detail li {
  font-size: 26px;
  margin-bottom: 10px;
}

.feature-detail .highlight {
  color: #ffffff;
  font-weight: bold;
}

/* Try button styles */

.try-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 20px;
}

.try-button:hover {
  background-color: #0056b3;
}



