/* src/components/Header.css */

/* Add top margin to create space for the fixed navbar */
.header-overflow-hidden {
  overflow: hidden;
  background-color: #1a202c; /* bg-gray-900 */
  margin-top: 60px; /* Adjust this value based on the height of your navbar */
}

.header-container {
  padding: 4rem 1rem;
  margin: 0 auto;
  max-width: 1200px;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  @media (min-width: 1280px) {
    flex-direction: row;
  }
}

.header-text-container {
  width: 100%;
  max-width: 30rem;
  margin-bottom: 3rem;
  padding-right: 4rem;
  @media (min-width: 1280px) {
    margin-bottom: 0;
    width: 58.333333%;
  }
}

.header-title {
  max-width: 28rem;
  margin-bottom: 1.5rem;
  font-family: 'Sans', sans-serif;
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1.25;
  color: white;
  @media (min-width: 640px) {
    font-size: 3rem;
    line-height: 1;
  }
}

.header-highlight {
  color: #4fd1c5; /* text-teal-accent-400 */
}

.header-description {
  max-width: 28rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  color: #a0aec0; /* text-gray-400 */
  @media (min-width: 768px) {
    font-size: 1.125rem;
  }
}

.header-link {
  display: inline-flex;
  align-items: center;
  font-weight: 600;
  color: #4fd1c5; /* text-teal-accent-400 */
  transition: color 0.2s;
}

.header-link:hover {
  color: #38b2ac; /* hover:text-teal-accent-700 */
}

.header-icon {
  display: inline-block;
  width: 0.75rem;
  margin-left: 0.5rem;
}
