.header-container {
  position: relative;
  height: 600px; /* Increase the height as needed */
}

.header-background {
  position: absolute;
  inset: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.header-overlay {
  position: relative;
  background-color: rgba(37, 46, 59, 0.75); /* bg-gray-900 bg-opacity-75 */
  height: 100%; /* Ensure the overlay covers the full height */
}

.header-content {
  padding: 4rem 1rem;
  margin: auto;
  max-width: 80rem;
  display: flex;
  justify-content: flex-start; /* Align content to the left */
  height: 100%; /* Ensure content takes up the full height */
  align-items: center; /* Vertically center the content */
}

.header-text-section {
  max-width: 36rem;
}

.header-title {
  max-width: 32rem;
  margin-bottom: 1.5rem;
  font-family: sans-serif;
  font-size: 1.875rem;
  font-weight: 700;
  color: #ffffff;
  line-height: 1.25;
}

.header-highlight {
  color: #FFA726; /* text-teal-accent-400 */
}

.header-description {
  max-width: 38rem;
  margin-bottom: 1rem;
  color: #9ca3af; /* text-gray-400 */
  font-size: 1rem;
}

.header-link {
  display: inline-flex;
  align-items: center;
  font-weight: 600;
  color: #FFA726;
  transition: color 0.2s;
}

.header-link:hover {
  color: #ce8415; /* hover:text-teal-accent-700 */
}

.header-link-icon {
  display: inline-block;
  width: 0.75rem;
  margin-left: 0.5rem;
}

